@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Common CSS */
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
/*--------------------
       Header part design CSS 
----------------------------*/
.header-section {
  height: 700px;
  background: #2d25a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left-side {
  margin-left: 156px;
  font-size: 40px;
}
.club-name h1 {
  width: 485px;
  height: 230px;
  color: #ffffff;
}
.watch-button a {
  text-decoration: none;
  padding: 10px;
  width: 400px;
  height: 100px;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  border: 0px solid white;
  border-radius: 50px;
  background: #e02c6d;
}
.watch-button a,
i {
  margin-left: 5px;
}

.header-right-side img {
  width: 556px;
  height: 438px;
  margin-right: 140px;
  margin-top: 140px;
  margin-bottom: 86px;
  transition: width 1s, linear, height 1s, transform 4s;
}

.header-right-side img:hover {
  width: 600px;
  height: 500px;
  transform: rotate(360deg);
}
/* Header design finish */

/* --------------------
      Main design Start 
-------------------------*/
.main-player {
  margin-left: 250px;
  margin-top: 70px;
  margin-right: 200px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border: 0px solid #ffffff;
  border-radius: 10px;
}
.player img {
  margin-top: 15px;
  width: 300px;
  height: 256px;
}
.player p {
  font-size: 16px;
  width: 300px;
  height: 154px;
  text-align: justify;
  margin: 0px;
}
/* Highlights SEction */
.highlights-section {
  display: flex;
  justify-content: center;
  margin-top: 165px;
}
.highlights-des {
  width: 469px;
  height: 309px;
}
.match-image img,
a {
  width: 567px;
  height: 427px;
  margin: 50px;
}

/* News Section design */
.top-news {
  width: 100%;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border: 0px solid #ffffff;
  border-radius: 10px;
}
.top-news h1 {
  color: #2d25a0;
  margin-top: 0px;
  text-align: center;
}
.newses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border: 0px solid #ffffff;
  border-radius: 10px;
  margin-left: 70px;
}
.news-img img {
  height: 250px;
  width: 350px;
  padding: 20px 10px;
}
.news-des {
  padding: 20px;
}
/* Main design end */

/* Footer design css start */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.footer-section img {
  width: 483px;
  height: 110px;
}
