@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* Common CSS */
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
/*--------------------
       Header part design CSS 
----------------------------*/
.header-section {
  height: 700px;
  background: #2d25a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left-side {
  margin-left: 156px;
  font-size: 40px;
}
.club-name h1 {
  width: 485px;
  height: 230px;
  color: #ffffff;
}
.watch-button a {
  text-decoration: none;
  padding: 10px;
  width: 400px;
  height: 100px;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  border: 0px solid white;
  border-radius: 50px;
  background: #e02c6d;
}

.header-right-side img {
  width: 556px;
  height: 438px;
  margin-right: 140px;
  margin-top: 140px;
  margin-bottom: 86px;
  transition: width 1s, linear, height 1s, transform 4s;
}

.header-right-side img:hover {
  width: 600px;
  height: 500px;
  transform: rotate(360deg);
}
